* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    text-align: center;
    font-size: 10vh;
}

h1 {
    text-align: center;
    font-size: 3vh;
}

button {
    text-align: center;
}