* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    text-align: center;
    font-size: 10vh;
}

h1 {
    text-align: center;
    font-size: 3vh;
    padding: 1vmin, auto, 10vmin, auto;
}

h6 {
    color: green;
    text-decoration: underline;
    float: right;
}
.scores {
    display: flex;
    grid-template-rows: repeat(2, 10vh);
    background-color: white;
    color: black;
    border: 10vh;
    text-decoration: underline green;
}
#board {
    display: grid;
    /* gap: -1px; */
    grid-template-rows: repeat(3, 18vh);
    grid-template-columns: repeat(3, 18vh);
    justify-content: center;
    background-color: black;
    width: auto;
}

/* buttons- #quit and #play */

#board > div {
    margin: 1.1vmin;
    border: 0%;
    border-radius: 5%;
    background-color: lightgray;
}
